html {
  height: 100%;
}

body {
  /* Reset */

  height: 100%;
  margin: 0;
  padding: 0;

  /* Base style*/
  background-color: #fffcf9; /*White*/
  color: #222222; /*Black*/
  display: flex;
  flex-direction: column;

  /*Typography*/
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, p, li {
  margin: 0;
  padding: 0;
}


a {
  color: #222222;
  margin: 0;
  padding: 0;
  text-decoration: none;
}



/*Header style*/
header {
  display: block;
  margin: 0 auto;
  background: #75102D url(images/1920w/10artboard-1.png) no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  color: #fffcf9;
  width: 100%;
}

.menu-bar {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 0 1.5% 0;
  width: 80.88235294117647%; /*100%=1496px*/
}

.title {
  display: flex;
  padding-top: 1%;
}

.title h1{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: bold;
  line-height: 1;
}

.title sup{
  align-self: flex-start;
  border: solid 1px #fffcf9;
  border-radius: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1;
  padding: 3px;
}


.menu {
  align-self: flex-start;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin:0;
  padding: 0;
}

.menu li {
  padding: 50px 4px 2px 4px;
  margin: 0 1px 1px 22px;

}

.menu li:hover,  .menu li:focus, .nav-current {
  border-bottom: solid 1px #fffcf9;
  border-left: solid 1px #fffcf9;
  border-right: solid 1px #fffcf9;
  font-weight: bold;
  padding: 50px 4px 2px 4px;
  margin: 0 0 0 20px;
}
.menu a {
  color: #fffcf9;
  text-decoration: none;
}
.quote {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1210px;
  width: 80.88235294117647%;
}

.quote-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  margin-top: 15%;
  padding-left: 30%;
  width: 45%;
}


/*Main style*/

main {
  display: block;
  flex: 1 0 auto;
  margin: 5% auto;
  max-width: 1210px;
  width: 80.88235294117647%; /*100%=1496px*/
}

.row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5%;
}

.row-1 p {
  font-size: 1.25em; /*20/16*/
}

.row-2 p {
  font-size: 1.25em; /*20/16*/
}

.services p {
  font-size: 0.9375em; /*15/16*/
}




.column-1 {
  color: #B7B7B7;/*Darker Grey*/
}

.column-1 h2 {
  font-weight: 300;
  line-height: 1;
  margin-bottom: 15%;
}

.column-2 {
  max-width: 880px;
  width: 72.72727272727273% /*100% = 1210px*/
}

.column-2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin:0;
  padding: 0;
}

.column-2 li {
  width: 280px;
}

.icon {
  display: flex;
  height: 45px;
  margin-bottom: 5%
}

.icon h3 {
  font-size: 1.25em; /*20/16*/
  line-height: 1;
  margin: 0 0 0 6%;
  padding: 0;
  width: 60%;
}

.icon a{
  font-size: 2.8125em; /*45/16*/
  line-height: 1;
  width: 45px;
}

/*Gallery style*/
.project {
  height: 280px;
  background-repeat: no-repeat;
  background-size: auto 280px;
  margin-bottom: 2.380952380952381%; /*100%=840*/
}

.cover {
  background-color:#fffcf9;
  height: 280px;
  position: absolute;
  opacity: 0;
  transition: all .2s ease;
  width: 280px;
}

.project:hover .cover, .project:focus .cover {
  height: 280px;
  opacity: 0.7;
  width: 280px;
}

.cover a h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9375em;/*15/16*/
  font-weight: 600;
  padding: 5% 5% 0 5%;
}

.cover a p {
  box-sizing: border-box;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1;
  padding: 1% 2% 5% 5%;
  width: 280px;
}

.project-1 {
	background-image: url(images/project-1.jpeg);
}
.project-2 {
	background-image: url(images/project-2.jpeg);
  background-position: 50% 50%;
}
.project-3 {
	background-image: url(images/project-3.jpeg);
  background-position: 50% 50%;
}
.project-4 {
	background-image: url(images/project-4.jpeg);
  background-position: 50% 50%;
}
.project-5 {
	background-image: url(images/project-5.jpeg);
  background-position: 50% 50%;
}
.project-6 {
	background-image: url(images/project-6.jpeg);
  background-position: 50% 50%;
}
.project-7 {
	background-image: url(images/project-7.jpeg);
  background-position: 50% 50%;
}
.project-8 {
	background-image: url(images/project-8.jpeg);
  background-position: 50% 50%;
}
.project-9 {
	background-image: url(images/project-9.jpeg);
  background-position: 50% 50%;
}

/*Projects style*/

.realisations ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.realisations a {
  color:#B7B7B7;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1;
}

.realisations a:hover, .realisations a:focus, .realisations .current {
  color:#222222;
  font-weight: 400;
}

.column-2 img {
  max-width: 880px;
  width: 100%; /*100% = 1210px*/
}

.credits {
  width: 280px;
}

.credits li {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.credits li h3 {
  font-size: 0.9375em; /*15/16*/
  font-weight: 300;
}

.credits li p {
  font-size: 0.9375em; /*15/16*/
  font-weight: 500;
  padding-left: 5px;
}




/*Footer style*/


footer {
  background-color: #EAEAEA; /*Grey*/
  flex-shrink: 0;
  width: 100%
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1210px;
  width: 80.88235294117647%;
}

.footer-text p {
  margin: 2% 0;
}

.footer-text ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.social-media {
  background-color: #fffcf9;
  border-radius:50px;
  height: 25px;
  margin-left: 8%;
  width: 25px;
}

.social-media a {
  padding: 5px;
  width: 16px;
  text-align: center;
}
